
.idea/velocimetroInternet.iml
__pycache__/klayton.cpython-312.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
__pycache__/TesteInternet.cpython-312.pyc
